<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>com.upo.genesmaven.login.servletLogin</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>servletListUsers</servlet-name>
        <servlet-class>controller.user.servletListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreateUser</servlet-name>
        <servlet-class>controller.user.servletCreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDeleteUser</servlet-name>
        <servlet-class>controller.user.servletDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCytoscape</servlet-name>
        <servlet-class>controller.cytoscape.servletCytoscape</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLoadSpecie</servlet-name>
        <servlet-class>controller.cytoscape.servletLoadSpecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLoadData</servlet-name>
        <servlet-class>controller.data.servletLoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormLoadData</servlet-name>
        <servlet-class>controller.data.servletFormLoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sertvletFormCompareGenes</servlet-name>
        <servlet-class>controller.data.sertvletFormCompareGenes</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>servletFormCreateUser</servlet-name>
        <servlet-class>controller.user.servletFormCreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormUpdateUser</servlet-name>
        <servlet-class>controller.user.servletFormUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormCreateUserIndex</servlet-name>
        <servlet-class>controller.user.servletFormCreateUserIndex</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>servletLogout</servlet-name>
        <servlet-class>controller.servletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormCreateUser</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletFormCreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreateUser</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletCreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormUpdateUser</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletFormUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListUsers</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDeleteUser</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUpdateUser</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormCreateUserIndex</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletFormCreateUserIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreateUserIndex</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletCreateUserIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormPerfil</servlet-name>
        <servlet-class>com.upo.genesmaven.user.servletFormPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFormLoadData</servlet-name>
        <servlet-class>com.upo.genesmaven.data.servletFormLoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sertvletFormCompareGenes</servlet-name>
        <servlet-class>com.upo.genesmaven.data.sertvletFormCompareGenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sertvletCompareGenes</servlet-name>
        <servlet-class>com.upo.genesmaven.data.sertvletCompareGenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLoadData</servlet-name>
        <servlet-class>com.upo.genesmaven.data.servletLoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletUpdateGenes</servlet-name>
        <servlet-class>com.upo.genesmaven.genes.servletUpdateGenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletReturnDash</servlet-name>
        <servlet-class>com.upo.genesmaven.navegation.servletReturnDash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSearchIterations</servlet-name>
        <servlet-class>com.upo.genesmaven.data.servletSearchIterations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSearchAuthors</servlet-name>
        <servlet-class>com.upo.genesmaven.data.servletSearchAuthors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMyData</servlet-name>
        <servlet-class>com.upo.genesmaven.genes.servletMyData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>servletListUsers</servlet-name>
        <url-pattern>/servletListUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreateUser</servlet-name>
        <url-pattern>/servletCreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDeleteUser</servlet-name>
        <url-pattern>/servletDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCytoscape</servlet-name>
        <url-pattern>/servletCytoscape</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLoadSpecie</servlet-name>
        <url-pattern>/servletLoadSpecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLoadData</servlet-name>
        <url-pattern>/servletLoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormLoadData</servlet-name>
        <url-pattern>/servletFormLoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sertvletFormCompareGenes</servlet-name>
        <url-pattern>/sertvletFormCompareGenes</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>servletFormCreateUser</servlet-name>
        <url-pattern>/servletFormCreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormUpdateUser</servlet-name>
        <url-pattern>/servletFormUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormCreateUserIndex</servlet-name>
        <url-pattern>/servletFormCreateUserIndex</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>servletLogout</servlet-name>
        <url-pattern>/servletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormCreateUser</servlet-name>
        <url-pattern>/servletFormCreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreateUser</servlet-name>
        <url-pattern>/servletCreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormUpdateUser</servlet-name>
        <url-pattern>/servletFormUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListUsers</servlet-name>
        <url-pattern>/servletListUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDeleteUser</servlet-name>
        <url-pattern>/servletDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpdateUser</servlet-name>
        <url-pattern>/servletUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormCreateUserIndex</servlet-name>
        <url-pattern>/servletFormCreateUserIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreateUserIndex</servlet-name>
        <url-pattern>/servletCreateUserIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormPerfil</servlet-name>
        <url-pattern>/servletFormPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFormLoadData</servlet-name>
        <url-pattern>/servletFormLoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sertvletFormCompareGenes</servlet-name>
        <url-pattern>/sertvletFormCompareGenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sertvletCompareGenes</servlet-name>
        <url-pattern>/sertvletCompareGenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLoadData</servlet-name>
        <url-pattern>/servletLoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUpdateGenes</servlet-name>
        <url-pattern>/servletUpdateGenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletReturnDash</servlet-name>
        <url-pattern>/servletReturnDash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSearchIterations</servlet-name>
        <url-pattern>/servletSearchIterations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSearchAuthors</servlet-name>
        <url-pattern>/servletSearchAuthors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMyData</servlet-name>
        <url-pattern>/servletMyData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
